<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="alert-info (message)" class="alert alert-success"
		role="alert" th:text="${message}"></div>

	<div th:fragment="alert-warn (message)" class="alert alert-warning"
		role="alert" th:text="${message}"></div>

	<div th:fragment="alert-error (message)" class="alert alert-danger"
		role="alert" th:text="${message}"></div>
</body>

</html>