<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<link rel="shortcut icon" th:src="@{/images/favicon.png}"
	type="image/x-icon" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/css/all.min.css}" />
	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
</body>

</html>