<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
<title th:text="#{candidate.title}">ATS Candidate</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<div class="row">
		<div class="col-md-12">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-dark">&nbsp;</h6>
				</div>
				<!-- Card Header && Dropdown End -->
				<!-- Card Body -->
				<div class="card-body">
					<!-- Resume and details -->
					<div class="row">
						<div class="col-md-3">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Details</h6>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div>
										<p hidden id="cid" th:text="${joc.candidate.id}"></p>
										<span> <b>Daxtra Candidate ID :</b></span>
										<p id="candidate-id" class="m-2 font-weight-400"
											th:text="${joc.candidate.candidateId}"></p>

										<span> <b>Source :</b></span>
										<p class="m-2 font-weight-400"
											th:text="${joc.candidate.source}"></p>

										<label for="email"> <b>Email Address :</b></label>
										<p class="m-2 font-weight-400"
											th:text="${joc.candidate.email}"></p>

										<span> <b>Full Name :</b></span>
										<p class="m-2 font-weight-400"
											th:text="${joc.candidate.fullName}"></p>

										<span> <b>Phone :</b></span>
										<p class="m-2 font-weight-400"
											th:text="${joc.candidate.phone}"></p>

										<span> <b>Mobile :</b></span>
										<p class="m-2 font-weight-400"
											th:text="${joc.candidate.mobile}"></p>
										
										<hr/>

										<a class="btn btn-primary btn-block" 
											th:href="@{/candidate/download(id=${joc.candidate.candidateId})}">
											<i class="fas fa-download"></i>
											<span th:text="#{candidate.page.button.download}">Download CV</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary"
										th:text="${joc.candidate.fullName}"></h6>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<p th:utext="${resumeHtml}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Card Body End -->
			</div>
		</div>
	</div>
</section>
</html>