<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{clients.edit.title}">ATS Teams Edit</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{clients.edit.header}">Teams Entry</h1>
	<form th:action="@{/clients/save}"
		th:object="${clientsForm}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<div th:if="${errorMessage != null}">
					<div
						th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
				</div>
			</div>
		</div>
		<input id="id" hidden name="id" type="text" th:value="${clientsForm.id}" />

		<!--Row 1-->
		<div class="form-row">
			<!--Left Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<!-- Clients -->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Client Name-->
						<label for="name"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{clients.edit.field.name}">Name</label>
						<div class="col-sm-12">
							<input id="name" type="text" th:field="*{name}"
								class="form-control form-control-sm" placeholder="Client Name"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger">Client Name Error</div>
						</div>
					</div>
				</div>

				<!--Description-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="description" class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{clients.edit.field.description}">
							Description
						</label>
						<div class="col-sm-12">
							<textarea id="description" th:field="*{description}"
                                class="form-control form-control-sm" placeholder="Description"
                                rows="4" cols="50"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
							class="text-danger">Description error</div>
						</div>
					</div>
                </div>
                
                <!--Team, Is Default-->
                <div class="form-row">
					<div class="form-group col-sm-6"> <!--Teams-->
						<label for="team.id"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{clients.edit.field.team}">Team</label>
						<div class="col-sm-12">
							<select id="team.id" name="team.id"
							class="form-control form-control-sm">
								<option th:each="teamItem : ${teams}" th:value="${teamItem.id}"
								th:text="${teamItem.name}" th:selected="*{team} != null ? *{team.id} == ${teamItem.id}">Team Item</option>
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('team')}" th:errors="*{team}"
								class="text-danger">Team Error</div>
						</div>
                    </div>
                    
                    <div class="form-group col-sm-6"> <!--Is Default-->
						<label for="isDefault"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{clients.edit.field.isdefault}">Default</label>
						<div class="col-sm-12">
							<div class="form-check form-check-inline">
                                <input type="checkbox" id="isDefault" name="isDefault" class="form-check-input" th:checked="*{isDefault}" value="true"/>
                                <label for="isDefault" class="form-check-label font-weight-bold" th:text="#{clients.edit.field.isdefault}">Default</label>
                            </div>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('isDefault')}" th:errors="*{team}"
								class="text-danger">Is Default Error</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="form-group">
			<div class="col">
				<button id="submit" type="submit" class="btn btn-primary"
					th:text="#{button.save}">Save</button>
				<a href="/clients/new" class="btn btn-secondary"
					th:text="#{button.reset}">Reset</a>
			</div>
		</div>
    </form>
    <!--We may not need JS, for now-->
	<!--<script th:src="@{/js/clients-edit.js}"></script>-->
</section>

</html>