<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{clients.view.title}">ATS Clients View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{clients.view.header(${clientsForm.name})}">Client "client name"&nbsp;</h6>
							<form action="#" th:action="@{/clients/edit}" method="get">
								<input hidden name="id" type="text" th:value="${clientsForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-12">
											<b><span th:text="#{clients.view.field.name}">
													Client Name:</span> </b>
											<span th:text="${clientsForm.name}">Client Name</span>
										</div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <b><span th:text="#{clients.view.field.team}">
                                                    Team:</span> </b>
                                            <span th:text="${clientsForm.team.name}">Team Name</span>
                                        </div>
                                        <div class="col-lg-2">
                                            <b><span th:text="#{clients.view.field.isdefault}">
                                                    Is Default:</span> </b>
                                            <span th:text="${clientsForm.isDefault ? 'Yes' : 'No'}">Is Default</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b><span th:text="#{clients.view.field.description}">Description:</span> </b>
                                            <span th:text="${clientsForm.description}">Description</span>
                                        </div>
                                    </div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
            <h5 class="mt-2" th:text="#{clients.view.table.endclients.header}">End Clients</h5>
            <form action="#" class="form-inline" method="get">
                <div class="form-group">
                    <label for="endclientname" class="mr-2 font-weight-bold"
                        th:text="#{clients.view.table.endclients.search.name}">Client Name</label> <input
                        id="endclientname" name="endclientname" type="text" class="mr-5 form-control"
                        placeholder="Enter End Client Name" />
                    <label for="endclientDescription" class="mr-2 font-weight-bold"
                        th:text="#{clients.view.table.endclients.search.description}">Description</label> <input
                        id="endclientDescription" name="endclientDescription" type="text" class="mr-5 form-control"
                        placeholder="Enter Description" />
                    <button id="endclients-search" class="btn btn-primary mr-1"
                        th:text="#{button.search}">Search</button>
                    <button id="endclients-reset" class="btn btn-secondary"
                        th:text="#{button.reset}">Reset</a>
                </div>
            </form>
			<table id="endclients-table" class="table table-striped table-bordered"
				style="width: 100%">
				<thead>
					<tr>
						<th th:text="#{clients.view.table.endclients.column.name}">Name</th>
                        <th th:text="#{clients.view.table.endclients.column.description}">Description</th>
                        <th th:text="#{clients.view.table.endclients.column.action}">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="endclient : ${clientsForm.endClients}">
						<td th:text="${endclient.name}">
							Name</td>
						<td th:text="${endclient.description}">
							Description
                        </td>
                        <td>
                            <a th:href="@{/endclients/view(id=${endclient.id})}"> <i
                                class="fa fa-eye"></i></a> &nbsp; 
                            <a th:href="@{/endclients/edit(id=${endclient.id})}"><i 
                                class="fa fa-pen"></i></a> &nbsp;
                        </td>
					</tr>
				</tbody>
			</table>
			<script th:src="@{/js/clients-view.js}"></script>
		</section>
	</body>
</html>