<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{dashboard.title}">ATS Dashboard</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-12">
					<span class="h3 mb-2 text-gray-800">Dashboard</span>
					<span id="date-today"
						th:text="#{dashboard.date(${#temporals.format(serverDate, 'MMMM d, yyyy hh:mm a')})}">As of Today</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="table-responsive">
						<table class="table table-striped table-sm" style="margin-top: 20px;">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">For the Day</th>
									<th class="text-center">For the Week</th>
									<th class="text-center">For the Month</th>
									<th class="text-center">Last Month</th>
									<th class="text-center">L-Last Month</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Prescreen</th>
									<td class="count"><span th:text="${eventCount.prescreenForTheDayCount}">
											Prescreen FTD</span></td>
									<td class="count"><span th:text="${eventCount.prescreenForTheWeekCount}">
											Prescreen FTW</span></td>
									<td class="count"><span th:text="${eventCount.prescreenForTheMonthCount}">
											Prescreen FTM</span></td>
									<td class="count"><span th:text="${eventCount.prescreenLastMonthCount}">
											Prescreen LM</span></td>
									<td class="count"><span th:text="${eventCount.prescreenLastLastMonthCount}">
											Prescreen LLM</span></td>
								</tr>
								<tr>
									<th scope="row">Submit</th>
									<td class="count"><span th:text="${eventCount.submissionForTheDayCount}">
											Submission FTD</span></td>
									<td class="count"><span th:text="${eventCount.submissionForTheWeekCount}">
											Submission FTW</span></td>
									<td class="count"><span th:text="${eventCount.submissionForTheMonthCount}">
											Submission FTM</span></td>
									<td class="count"><span th:text="${eventCount.submissionLastMonthCount}">
											Submission LM</span></td>
									<td class="count"><span th:text="${eventCount.submissionLastLastMonthCount}">
											Submission LLM</span></td>
								</tr>
								<tr>
									<th scope="row">Present</th>
									<td class="count"><span th:text="${eventCount.clientSubmissionForTheDayCount}">
											Present FTD</span></td>
									<td class="count"><span th:text="${eventCount.clientSubmissionForTheWeekCount}">
											Present FTW</span></td>
									<td class="count"><span th:text="${eventCount.clientSubmissionForTheMonthCount}">
											Present FTM</span></td>
									<td class="count"><span th:text="${eventCount.clientSubmissionLastMonthCount}">
											Present LM</span></td>
									<td class="count"><span th:text="${eventCount.clientSubmissionLastLastMonthCount}">
											Present LLM</span></td>
								</tr>
								<tr>
									<th scope="row">Interview</th>
									<td class="count"><span th:text="${eventCount.interviewForTheDayCount}">
											Interview FTD</span></td>
									<td class="count"><span th:text="${eventCount.interviewForTheWeekCount}">
											Interview FTW</span></td>
									<td class="count"><span th:text="${eventCount.interviewForTheMonthCount}">
											Interview FTM</span></td>
									<td class="count"><span th:text="${eventCount.interviewLastMonthCount}">
											Interview LM</span></td>
									<td class="count"><span th:text="${eventCount.interviewLastLastMonthCount}">
											Interview LLM</span></td>
								</tr>
								<tr>
									<th scope="row">Placement</th>
									<td class="count"><span th:text="${eventCount.placementForTheDayCount}">
											Placement FTD</span></td>
									<td class="count"><span th:text="${eventCount.placementForTheWeekCount}">
											Placement FTW</span></td>
									<td class="count"><span th:text="${eventCount.placementForTheMonthCount}">
											Placement FTM</span></td>
									<td class="count"><span th:text="${eventCount.placementLastMonthCount}">
											Placement LM</span></td>
									<td class="count"><span th:text="${eventCount.placementLastLastMonthCount}">
											Placement LLM</span></td>
								</tr>
							</tbody>
							<tbody id="job-order">
								<tr class="table-secondary">
									<th scope="row">Job Order</th>
									<td class="count"><span th:text="${eventCount.jobOrderForTheDayCount}">
											Job Offer FTD Count</span></td>
									<td class="count"><span th:text="${eventCount.jobOrderForTheWeekCount}">
											Job Offer FTW Count</span></td>
									<td class="count"><span th:text="${eventCount.jobOrderForTheMonthCount}">
											Job Offer FTM Count</span></td>
									<td class="count"><span th:text="${eventCount.jobOrderLastMonthCount}">
											Job Offer LM Count</span></td>
									<td class="count"><span th:text="${eventCount.jobOrderLastLastMonthCount}">
											Job Offer LLM Count</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xl-6 col-sm-12" id="candidateDetails" style="margin-top: 20px;">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="nav-item"><a href="#prescreen" class="nav-link active" aria-controls="prescreen" role="tab" data-toggle="tab">Prescreened</a></li>
						<li role="presentation" class="nav-item"><a href="#submit" class="nav-link" aria-controls="submit" role="tab" data-toggle="tab">Submitted</a></li>
						<li role="presentation" class="nav-item"><a href="#present" class="nav-link" aria-controls="present" role="tab" data-toggle="tab">Presented</a></li>
						<li role="presentation" class="nav-item"><a href="#interview" class="nav-link" aria-controls="interview" role="tab" data-toggle="tab">Interviewed</a></li>
						<li role="presentation" class="nav-item"><a href="#placement" class="nav-link" aria-controls="placement" role="tab" data-toggle="tab">Placed</a></li>
					</ul>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptions" id="periodFtd" value="ftd" checked="checked"/>
						<label class="form-check-label" for="periodFtd">FTD</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptions" id="periodFtw" value="ftw"/>
						<label class="form-check-label" for="periodFtw">FTW</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptions" id="periodFtm" value="ftm"/>
						<label class="form-check-label" for="periodFtm">FTM</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptions" id="periodLm" value="lm"/>
						<label class="form-check-label" for="periodLm">LM</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptions" id="periodLlm" value="llm"/>
						<label class="form-check-label" for="periodLlm">LLM</label>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="prescreen" role="tabpanel" aria-labelledby="prescreen-tab">
							<table id="prescreen-candidate-view" class="table table-striped table-bordered table-sm"
							style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{dashboard.candidate.table.transactiondate}">Txn Date</th>
										<th th:text="#{dashboard.candidate.table.firstname}">First Name</th>
										<th th:text="#{dashboard.candidate.table.lastname}">Last Name</th>
										<th th:text="#{dashboard.candidate.table.endclient}">End Client</th>
										<th th:text="#{dashboard.candidate.table.position}">Position</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="tab-pane" id="submit" role="tabpanel" aria-labelledby="submit-tab">
							<table id="submit-candidate-view" class="table table-striped table-bordered table-sm"
							style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{dashboard.candidate.table.transactiondate}">Txn Date</th>
										<th th:text="#{dashboard.candidate.table.firstname}">First Name</th>
										<th th:text="#{dashboard.candidate.table.lastname}">Last Name</th>
										<th th:text="#{dashboard.candidate.table.endclient}">End Client</th>
										<th th:text="#{dashboard.candidate.table.position}">Position</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="tab-pane" id="present" role="tabpanel" aria-labelledby="present-tab">
							<table id="present-candidate-view" class="table table-striped table-bordered table-sm"
							style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{dashboard.candidate.table.transactiondate}">Txn Date</th>
										<th th:text="#{dashboard.candidate.table.firstname}">First Name</th>
										<th th:text="#{dashboard.candidate.table.lastname}">Last Name</th>
										<th th:text="#{dashboard.candidate.table.endclient}">End Client</th>
										<th th:text="#{dashboard.candidate.table.position}">Position</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="tab-pane" id="interview" role="tabpanel" aria-labelledby="interview-tab">
							<table id="interview-candidate-view" class="table table-striped table-bordered table-sm"
							style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{dashboard.candidate.table.transactiondate}">Txn Date</th>
										<th th:text="#{dashboard.candidate.table.firstname}">First Name</th>
										<th th:text="#{dashboard.candidate.table.lastname}">Last Name</th>
										<th th:text="#{dashboard.candidate.table.endclient}">End Client</th>
										<th th:text="#{dashboard.candidate.table.position}">Position</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="tab-pane" id="placement" role="tabpanel" aria-labelledby="placement-tab">
							<table id="placement-candidate-view" class="table table-striped table-bordered table-sm"
							style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{dashboard.candidate.table.transactiondate}">Txn Date</th>
										<th th:text="#{dashboard.candidate.table.firstname}">First Name</th>
										<th th:text="#{dashboard.candidate.table.lastname}">Last Name</th>
										<th th:text="#{dashboard.candidate.table.endclient}">End Client</th>
										<th th:text="#{dashboard.candidate.table.position}">Position</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-sm-12" id="jobOrderDetails">
					<h4 th:text="'Job Orders'">Job Orders</h4>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptionsJo" id="periodFtdJo" value="ftd" checked="checked"/>
						<label class="form-check-label" for="periodFtdJo">FTD</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptionsJo" id="periodFtwJo" value="ftw"/>
						<label class="form-check-label" for="periodFtwJo">FTW</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptionsJo" id="periodFtmJo" value="ftm"/>
						<label class="form-check-label" for="periodFtmJo">FTM</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptionsJo" id="periodLmJo" value="lm"/>
						<label class="form-check-label" for="periodLmJo">LM</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="periodOptionsJo" id="periodLlmJo" value="llm"/>
						<label class="form-check-label" for="periodLlmJo">LLM</label>
					</div>
					<table id="joborder-view" class="table table-striped table-bordered table-sm"
					style="width: 100%">
						<thead>
							<tr>
								<th th:text="#{dashboard.joborder.table.jodate}">JO Date</th>
								<th th:text="#{dashboard.joborder.table.number}">JO #</th>
								<th th:text="#{dashboard.joborder.table.title}">Title</th>
								<th th:text="#{dashboard.joborder.table.location}">Location</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/dashboard.js}"></script>
</section>

</html>