<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{endclients.find.title}">ATS End Clients Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{endclients.find.header}">End Clients Find</h1>
	<form action="#" class="form-inline" method="get">
        <div class="form-group">
            <label for="endclientname" class="mr-2 font-weight-bold"
                th:text="#{endclients.find.search.name}">End Client Name</label> <input
                id="endclientname" name="endclientname" type="text" class="mr-5 form-control"
                placeholder="Enter Client Name" />
            <label for="endclientDescription" class="mr-2 font-weight-bold"
                th:text="#{endclients.find.search.description}">Description</label> <input
                id="endclientDescription" name="endclientDescription" type="text" class="mr-5 form-control"
                placeholder="Enter Description" />
            <button id="endclient-search" class="btn btn-primary mr-1"
                th:text="#{button.search}">Search</button>
            <button id="endclient-reset" class="btn btn-secondary"
                th:text="#{button.reset}">Reset</a>
        </div>
    </form>
	<table id="find-endclients" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
            <tr>
                <th th:text="#{endclients.find.column.name}">Client Name</th>
                <th th:text="#{endclients.find.column.client}">Description</th>
                <th th:text="#{endclients.find.column.description}">Team</th>
                <th th:text="#{endclients.find.column.action}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="endclient : ${endclientsForms}">
                <td th:text="${endclient.name}">End Client Name</td>
                <td th:text="${endclient.client.name}">Client</td>
                <td th:text="${endclient.description}">Description</td>
                <td>
                    <a th:href="@{/endclients/view(id=${endclient.id})}"> <i
                        class="fa fa-eye"></i></a> &nbsp; 
                    <a th:href="@{/endclients/edit(id=${endclient.id})}"><i 
                        class="fa fa-pen"></i></a> &nbsp;
                </td>
            </tr>
        </tbody>
	</table>
	<script th:src="@{/js/endclients-find.js}"></script>
</section>

</html>