<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{endclients.edit.title}">ATS End Clients Edit</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{endclients.edit.header}">End Clients Entry</h1>
	<form th:action="@{/endclients/save}"
		th:object="${endclientsForm}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<div th:if="${errorMessage != null}">
					<div
						th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
				</div>
			</div>
		</div>
		<input id="id" hidden name="id" type="text" th:value="${endclientsForm.id}" />

		<!--Row 1-->
		<div class="form-row">
			<!--Left Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<!--Client Name-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--End Client Name-->
						<label for="name"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{endclients.edit.field.name}">Name</label>
						<div class="col-sm-12">
							<input id="name" type="text" th:field="*{name}"
								class="form-control form-control-sm" placeholder="End Client Name"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger">End Client Name Error</div>
						</div>
					</div>
				</div>

				<!--Client-->
                <div class="form-row">
					<div class="form-group col-sm-6"> <!--Client-->
						<label for="client.id"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{endclients.edit.field.client}">Client</label>
						<div class="col-sm-12">
							<select id="client.id" name="client.id"
							class="form-control form-control-sm">
								<option th:each="clientItem : ${clients}" th:value="${clientItem.id}"
								th:text="${clientItem.name}" th:selected="*{client} != null ? *{client.id} == ${clientItem.id}">Team Item</option>
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('client')}" th:errors="*{client}"
								class="text-danger">Client Error</div>
						</div>
					</div>
				</div>

				<!--Description-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="description" class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{endclients.edit.field.description}">
							Description
						</label>
						<div class="col-sm-12">
							<textarea id="description" th:field="*{description}"
                                class="form-control form-control-sm" placeholder="Description"
                                rows="4" cols="50"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
							class="text-danger">Description error</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	
		<div class="form-group">
			<div class="col">
				<button id="submit" type="submit" class="btn btn-primary"
					th:text="#{button.save}">Save</button>
				<a href="/endclients/new" class="btn btn-secondary"
					th:text="#{button.reset}">Reset</a>
			</div>
		</div>
    </form>
    <!--We may not need JS, for now-->
	<!--<script th:src="@{/js/endclients-edit.js}"></script>-->
</section>

</html>