<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{endclients.view.title}">ATS Clients View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{endclients.view.header(${endclientsForm.name})}">End Client "client name"&nbsp;</h6>
							<form action="#" th:action="@{/endclients/edit}" method="get">
								<input hidden name="id" type="text" th:value="${endclientsForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-12">
											<b><span th:text="#{endclients.view.field.name}">
													End Client Name:</span> </b>
											<span th:text="${endclientsForm.name}">End Client Name</span>
										</div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <b><span th:text="#{endclients.view.field.client}">
                                                    Client:</span> </b>
                                            <span th:text="${endclientsForm.client.name}">Client Name</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b><span th:text="#{endclients.view.field.description}">Description:</span> </b>
                                            <span th:text="${endclientsForm.description}">Description</span>
                                        </div>
                                    </div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>