<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{joborder.find.title}">ATS Job Order Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{joborder.find.header}">Job
		Order Find</h1>
	<form id="joborder-search" action="#" th:action="@{/joborder/find}" class="form-inline"
		th:object="${jobOrderForm}" method="get">
		<div class="form-group">
			<label for="jo-number" class="mr-2 font-weight-bold"
				th:text="#{joborder.find.search.number}">JO Number</label> <input
				id="number" name="number" type="text" class="mr-5 form-control"
				placeholder="Enter job order number" autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label for="title" class="mr-2 font-weight-bold"
				th:text="#{joborder.find.search.title}">Title</label> <input
				id="title" name="title" type="text" class="mr-5 form-control"
				placeholder="Enter job order title" />
			<button type="submit" class="btn btn-primary mr-1"
				th:text="#{button.search}">Search</button>
			<a href="/joborder/find" class="btn btn-secondary"
				th:text="#{button.reset}">Reset</a>
		</div>
	</form>
	<table id="find-jo" class="table table-striped"
		style="width: 100%">
		<thead>
			<tr>
				<th th:text="#{joborder.find.column.number}">JO Number</th>
				<th th:text="#{joborder.find.column.title}">Title</th>
				<th th:text="#{joborder.find.column.location}">Location</th>
				<th th:text="#{joborder.find.column.action}">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="jo : ${jobOrderForms}">
				<td th:text="${jo.number}">number</td>
				<td th:text="${jo.title}">title</td>
				<td th:text="${jo.location}">location</td>
				<td><a th:href="@{/joborder/view(id=${jo.id})}"> <i
						class="fa fa-eye"></i>
				</a> &nbsp;</td>
			</tr>
		</tbody>
	</table>
	<script th:src="@{/js/joborder-find.js}"></script>
</section>

</html>