<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{login.title}">ATS Login</title>
<link rel="shortcut icon" th:src="@{/images/favicon.png}"
	type="image/x-icon" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body class="bg-gradient-dark">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-6">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h4 class="h4" th:text="#{ats.core.title}">Welcome to
											RecSys!</h4>
										<h6 class="h6 text-gray-900 mb-4"
											th:text="#{ats.core.version}"></h6>
										<div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="mb-2">
											Authentication error</div>
										<div th:if="${param.logout}">You have been logged out.</div>
									</div>

									<form th:action="@{/login}" method="post" class="user">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												autofocus="autofocus" id="user" name="username"
												placeholder="Enter Username..">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="password" name="password" placeholder="Password">
										</div>
										<button type="submit"
											class="btn btn-primary btn-user btn-block">Sign In</button>

									</form>
									<hr>
									<div class="text-center">
										<a class="small" href="forgot-password.html">Forgot
											Password?</a>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
</body>

</html>