<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{reportsgeneration.title}">ATS End of Day Report</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-4">
					<span class="h3 mb-2 text-gray-800" th:text="#{reportsgeneration.header}">Reports Generation</span>
				</div>
			</div>
            <hr/>
            
            <form th:action="@{/reports-generation}"
                 method="get" enctype="multipart/form-data" id="reports-form">

                <div class="row">
                    <div class="col">
                        <div th:if="${errorMessage != null}">
                            <div
                                th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <!--Left Column-->
                    <div class="form-group col-lg-6 col-xl-6">
                        <!--Report Type-->
                        <div class="form-row">
                            <div class="form-group col-sm-6"> <!--Report Type-->
                                <label for="report-type"
                                    class="col-sm-12 col-form-label font-weight-bold"
                                    th:text="#{reportsgeneration.header.reporttype}">Report Type</label>
                                <div class="col-sm-12">
                                    <select id="report-type" name="type" type="text"
                                        class="form-control form-control-sm"
                                        autofocus="autofocus">
                                        <option value="workflow">Workflow</option>
                                        <option value="activity">Activity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
        
                        <!--Dates-->
                        <div class="form-row">
                            <!--Date From-->
                            <div class="form-group col-sm-6">
                                <label for="start-date"
                                    class="col-sm-12 col-form-label font-weight-bold"
                                    th:text="#{reportsgeneration.header.datefrom}">Date From</label>
                                <div class="col-sm-12">
                                    <input id="date-from" type="text" name="dateFrom"
                                        class="form-control form-control-sm" placeholder="Date From" readonly/>
                                </div>
                            </div>
            
                            <!--Date To-->
                            <div class="form-group col-sm-6">
                                <label for="start-date"
                                    class="col-sm-12 col-form-label font-weight-bold"
                                    th:text="#{reportsgeneration.header.dateto}">Date To</label>
                                <div class="col-sm-12">
                                    <input id="date-to" type="text" name="dateTo"
                                        class="form-control form-control-sm" placeholder="Date To" readonly/>
                                </div>
                            </div>
                        </div>

                        <!--Columns-->
                        <div class="form-row">
                            <!--Date From-->
                            <div class="form-group col-sm-6">
                                <label for="start-date"
                                    class="col-sm-12 col-form-label font-weight-bold"
                                    th:text="Columns">Date From</label>
                                <div class="col-sm-12">
                                    <ul class="sortable" id="cols-workflow">
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="ownerName" checked/>
                                            <label class="form-check-label font-weight-bold">Owner Name</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="transactionDate" checked/>
                                            <label class="form-check-label font-weight-bold">Transaction Date</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="fullName" checked/>
                                            <label class="form-check-label font-weight-bold">Full Name</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="source" checked/>
                                            <label class="form-check-label font-weight-bold">Source</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="endClientName" checked/>
                                            <label class="form-check-label font-weight-bold">End Client Name</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="clientName" checked/>
                                            <label class="form-check-label font-weight-bold">Client Name</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="jobOrderTitle" checked/>
                                            <label class="form-check-label font-weight-bold">Job Order Title</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="jobOrderNumber" checked/>
                                            <label class="form-check-label font-weight-bold">Job Order Number</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="joBillRate" checked/>
                                            <label class="form-check-label font-weight-bold">Job Order Bill Rate</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="joPayRate" checked/>
                                            <label class="form-check-label font-weight-bold">Job Order Pay Rate</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="workflowStage" checked/>
                                            <label class="form-check-label font-weight-bold">Workflow Stage</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-workflow" value="lastWorkflowStage" checked/>
                                            <label class="form-check-label font-weight-bold">Latest Workflow Stage</label>
                                        </li>
                                    </ul>


                                    <ul class="sortable" id="cols-activity">
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="reportDate" checked/>
                                            <label class="form-check-label font-weight-bold">Report Date</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="recruiter" checked/>
                                            <label class="form-check-label font-weight-bold">Recruiter Name</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="source" checked/>
                                            <label class="form-check-label font-weight-bold">Source</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="views" checked/>
                                            <label class="form-check-label font-weight-bold">Views</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="leads" checked/>
                                            <label class="form-check-label font-weight-bold">Leads</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="otherLeads" checked/>
                                            <label class="form-check-label font-weight-bold">Other Leads</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="activity" checked/>
                                            <label class="form-check-label font-weight-bold">Activity</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="team" checked/>
                                            <label class="form-check-label font-weight-bold">Team</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="columns" class="form-check-input check-activity" value="comment" checked/>
                                            <label class="form-check-label font-weight-bold">Comment</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col">
                        <button id="submit" type="submit" class="btn btn-primary"
                            th:text="#{reportsgeneration.button.generate}">Generate</button>
                        <a href="/reports-generation" class="btn btn-secondary"
                            th:text="#{reportsgeneration.button.reset}">Reset</a>
                    </div>
                </div>
            </form>
		</div>
	</div>
	<script th:src="@{/js/reports-generation.js}"></script>
</section>

</html>