<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{reportsgeneration.title}">ATS End of Day Report</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-4">
					<span class="h3 mb-2 text-gray-800" th:text="#{reportsgeneration.header}">Reports Generation</span>
				</div>
			</div>
            <hr/>
            
            <form th:action="@{/users/save}"
                 method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col">
                        <div th:if="${errorMessage != null}">
                            <div
                                th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
                        </div>
                    </div>
                </div>

                <!--Row 1-->
                <div class="form-row">
                    <!--Table 'user'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.users}">Table 'user'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">firstname</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">lastname</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">username</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">email</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">enabled</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>

                    </div>
                </div>

                <hr/>

                <!--Row 2-->
                <div class="form-row">
                    <!--Table 'prescreen_event'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.prescreen}">Table 'prescreen_event'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">sys_datetime</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">txn_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'submission_event'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.submission}">Table 'submission_event'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">sys_datetime</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">txn_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'client_submission_event'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.presentation}">Table 'client_submission_event'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">sys_datetime</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">txn_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'interview_event'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.interview}">Table 'interview_event'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">sys_datetime</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">txn_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Right Column - Table 'placement_event'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.placement}">Table 'placement_event'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">sys_datetime</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">txn_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <hr/>

                <!--Row 3-->
                <div class="form-row">
                    <!--Table 'job_order'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.joborder}">Table 'job_order'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">date_created</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">title</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">location</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">zip_code</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">start_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">end_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">bill_rate_start</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">bill_rate_end</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">bill_period_rate</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_rate_start</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_rate_end</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_period_rate</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">openings</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">max_subs</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">status</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'candidate'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.candidate}">Table 'candidate'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">candidate_id</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">source</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">firstname</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">lastname</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">fullname</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">create_date</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">address_city</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">address_country</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">address_latitude</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">address_longitude</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">contact_mobile</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">contact_email</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">employment_current_title</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">employment_current_employer</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'job_order_candidate'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.jobordercandidate}">Table 'job_order_candidate'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">last_workflow</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_rate_start</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_rate_end</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">pay_period_rate</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">event_remarks</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!--Row 3-->
                <div class="form-row">
                    <!--Table 'client'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.client}">Table 'client'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">name</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">description</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">is_default</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <!--Table 'end_client'-->
                    <div class="form-group col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{reportsgeneration.header.endclient}">Table 'end_client'</h4>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            
                            <div class="col-10">
                                <ul class="sortable list-group">
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">name</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="columns" class="form-check-input" value="true"/>
                                            <label class="form-check-label font-weight-bold">description</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col">
                        <button id="preview" class="btn btn-danger"
                            th:text="#{reportsgeneration.button.preview}">Save</button>
                        <button id="submit" type="submit" class="btn btn-primary"
                            th:text="#{reportsgeneration.button.generate}">Generate</button>
                        <a href="/users/new" class="btn btn-secondary"
                            th:text="#{reportsgeneration.button.reset}">Reset</a>
                    </div>
                </div>
            </form>
		</div>
	</div>
	<script th:src="@{/js/reports-generation.js}"></script>
</section>

</html>