<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
<title th:text="#{shortlist.title}">ATS Shortlist</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{shortlist.header(${joborder.number})}">Shortlist for JO number 1</h1>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col">
					<div th:if="${candidates != null and #lists.isEmpty(candidates)}">
						<div
							th:replace="fragments/alerts :: alert-warn(message=#{shortlist.message.notfound})"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<form id="searchForm" th:action="@{/shortlist/search}" method="get"
						class="form-inline">
						<div class="form-row">
							<div class="form-group mb-2 mx-2">
								<input hidden th:value="${joborder.id}" name="joid" />
								<input type="text" th:name="searchText" class="form-control"
									placeholder="Enter Shortlist Name" autofocus="autofocus" />
							</div>
							<div class="form-group mb-2 mx-2">
								<button id="search" type="submit" class="btn btn-success">Search</button>
							</div>
						</div>
					</form>
				</div>
				<div th:if="${not #lists.isEmpty(candidates)}" class="col-sm-6 text-sm-right">
					<form id="import">
						<span th:text="#{shortlist.selectedrows}">Selected rows:</span>
						<span id="selected-rows"></span>
						<input hidden th:value="${joborder.id}" name="id" />
						<button type="submit" id="import-selected" class="btn btn-primary mb-2" 
						th:formaction="@{/shortlist/import}" th:formmethod="post"
						th:text="#{shortlist.button.import}">
							Import selected</button>
						<button type="submit" id="import-cancel" class="btn btn-secondary mb-2"
						th:formaction="@{/joborder/view}" th:text="#{shortlist.button.cancel}">
							Cancel</button>
					</form>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(candidates)}">
				<div class="table-responsive">
					<table id="shortlist-candidate-table" class="table table-bordered" 
					style="margin-top: 20px;">
						<thead>
							<tr>
								<th class="text-center"><input id="check-all" type="checkbox" name="check-all" checked/></th>
								<th>Candidate ID</th>
								<th>Source</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Full Name</th>
								<th>Phone</th>
								<th>Mobile</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="candidate : ${candidates}">
								<td class="text-center">
									<input class="check-row" type="checkbox" name="candidateadd" 
									th:value="${candidate.id}" checked/></td>
								<td><span th:text="${candidate.candidateId}"> User </span></td>
								<td><span th:text="${candidate.source}"> Source </span></td>
								<td><span th:text="${candidate.firstName}"> First
										Name </span></td>
								<td><span th:text="${candidate.lastName}"> Last Name
								</span></td>
								<td><span th:text="${candidate.fullName}"> Full Name
								</span></td>
								<td><span th:text="${candidate.phone}"> Phone </span></td>
								<td><span th:text="${candidate.mobile}"> Mobile </span></td>
								<td><span th:text="${candidate.email}"> Email </span></td>
								<td><a th:href="@{/candidate(id=${candidate.candidateId})}">
										<i class="fa fa-eye"></i>
								</a> &nbsp; <a href="" data-toggle="modal" data-target="#modal-edit">
										<i class="fa fa-pen"></i>
								</a> &nbsp; <a href="" data-toggle="modal" data-target="#modal-del">
										<i class="fa fa-trash"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/shortlist.js}"></script>
</section>

</html>