<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{source.find.title}">ATS Sources Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{source.find.header}">Sources Find</h1>
	<form action="#" class="form-inline" method="get">
        <div class="form-group">
            <label for="sourcename" class="mr-2 font-weight-bold"
                th:text="#{source.find.search.name}">Source Name</label> <input
                id="sourcename" name="sourcename" type="text" class="mr-5 form-control"
                placeholder="Enter Source Name" />
            <label for="sourceDescription" class="mr-2 font-weight-bold"
                th:text="#{source.find.search.description}">Description</label> <input
                id="sourceDescription" name="sourceDescription" type="text" class="mr-5 form-control"
                placeholder="Enter Description" />
            <button id="source-search" class="btn btn-primary mr-1"
                th:text="#{button.search}">Search</button>
            <button id="source-reset" class="btn btn-secondary"
                th:text="#{button.reset}">Reset</a>
        </div>
    </form>
	<table id="find-source" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
            <tr>
                <th th:text="#{source.find.column.index}">Index</th>
                <th th:text="#{source.find.column.name}">Source Name</th>
                <th th:text="#{source.find.column.description}">Description</th>
                <th th:text="#{source.find.column.category}">Category</th>
                <th th:text="#{source.find.column.action}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="source : ${sourceForms}">
                <td th:text="${source.index}">Index</td>
                <td th:text="${source.name}">Source Name</td>
                <td th:text="${source.description}">Description</td>
                <td th:text="${#strings.capitalize(source.category)}">Category</td>
                <td>
                    <a th:href="@{/sources/view(id=${source.id})}"> <i
                        class="fa fa-eye"></i></a> &nbsp; 
                    <a th:href="@{/sources/edit(id=${source.id})}"><i 
                        class="fa fa-pen"></i></a> &nbsp;
                </td>
            </tr>
        </tbody>
	</table>
	<script th:src="@{/js/sources-find.js}"></script>
</section>

</html>