<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{source.edit.title}">ATS Sources Edit</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{source.edit.header}">Sources Entry</h1>
	<form th:action="@{/sources/save}"
		th:object="${sourceForm}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<div th:if="${errorMessage != null}">
					<div
						th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
				</div>
			</div>
		</div>
		<input id="id" hidden name="id" type="text" th:value="${sourceForm.id}" />

		<!--Row 1-->
		<div class="form-row">
			<!--Left Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<!--Client Name-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Source Name-->
						<label for="name"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{source.edit.field.name}">Name</label>
						<div class="col-sm-12">
							<input id="name" type="text" th:field="*{name}"
								class="form-control form-control-sm" placeholder="Source Name"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger">Source Name Error</div>
						</div>
					</div>
                </div>
                
                <!--Index and Category-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Index-->
						<label for="index"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{source.edit.field.index}">Index</label>
						<div class="col-sm-12">
							<input id="index" type="number" th:field="*{index}"
								class="form-control form-control-sm" placeholder="Index" min="0" max="999999" step="1"/>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('index')}" th:errors="*{index}"
								class="text-danger">Index Error</div>
						</div>
					</div>

					<div class="form-group col-sm-6"> <!--Category-->
						<label for="category"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{source.edit.field.category}">Category</label>
							<div class="form-group col-sm-12">
								<select id="category" th:field="*{category}"
								class="form-control form-control-sm">
									<option value="source" th:selected="*{category == 'source'}">Source</option>
									<option value="leads" th:selected="*{category == 'leads'}">Lead</option>
									<option value="activity" th:selected="*{category == 'activity'}">Activity</option>
								</select>
							</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
								class="text-danger">Category Error</div>
						</div>
					</div>
				</div>

				<!--Description-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="description" class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{source.edit.field.description}">
							Description
						</label>
						<div class="col-sm-12">
							<textarea id="description" th:field="*{description}"
                                class="form-control form-control-sm" placeholder="Description"
                                rows="4" cols="50"/>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
							class="text-danger">Description error</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	
		<div class="form-group">
			<div class="col">
				<button id="submit" type="submit" class="btn btn-primary"
					th:text="#{button.save}">Save</button>
				<a href="/sources/new" class="btn btn-secondary"
					th:text="#{button.reset}">Reset</a>
			</div>
		</div>
    </form>
    <!--We may not need JS, for now-->
	<!--<script th:src="@{/js/sources-edit.js}"></script>-->
</section>

</html>