<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{teams.find.title}">ATS Teams Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{teams.find.header}">Teams Find</h1>
	<form action="#" class="form-inline" method="get">
		<div class="form-group">
            <label for="name" class="mr-2 font-weight-bold"
                th:text="#{teams.find.search.teamname}">Team Name</label> <input
                id="name" name="name" type="text" class="mr-5 form-control"
                placeholder="Enter Group Name" />
            <label for="description" class="mr-2 font-weight-bold"
                th:text="#{teams.find.search.description}">Description</label> <input
                id="description" name="description" type="text" class="mr-5 form-control"
                placeholder="Enter Description" />
            <button id="search" class="btn btn-primary mr-1"
                th:text="#{button.search}">Search</button>
            <button id="reset" class="btn btn-secondary"
                th:text="#{button.reset}">Reset</a>
        </div>
	</form>
	<table id="find-teams" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
			<tr>
				<th th:text="#{teams.find.column.teamname}">Team Name</th>
				<th th:text="#{teams.find.column.email}">Email</th>
				<th th:text="#{teams.find.column.description}">Description</th>
				<th th:text="#{teams.find.column.userscount}">User Count</th>
				<th th:text="#{teams.find.column.action}">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="team : ${teamsForms}">
				<td th:text="${team.name}">Team Name</td>
				<td th:text="${team.email}">Team Email</td>
				<td th:text="${team.description}">Description</td>
				<td th:text="${#lists.size(team.users)}">Team User Count</td>
				<td><a th:href="@{/teams/view(id=${team.id})}"> <i
						class="fa fa-eye"></i></a>
					&nbsp; <a th:href="@{/teams/edit(id=${team.id})}"><i 
						class="fa fa-pen"></i></a>
					 &nbsp;
				</td>
			</tr>
		</tbody>
	</table>
	<script th:src="@{/js/teams-find.js}"></script>
</section>

</html>