<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{teams.view.title}">ATS User View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{teams.view.header(${teamsForm.name})}">Details for team "team"&nbsp;</h6>
							<form action="#" th:action="@{/teams/edit}" method="get">
								<input hidden name="id" type="text" th:value="${teamsForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-2">
											<b><span th:text="#{teams.view.field.name}">
													Team Name:</span> </b>
											<span th:text="${teamsForm.name}">Team Name</span>
										</div>
										<div class="col-auto">
                                            <b><span th:text="#{teams.view.field.email}">Email:</span> </b>
                                            <span th:text="${teamsForm.email}">Email</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
										<div class="col-auto">
                                            <b><span th:text="#{teams.view.field.description}">Description:</span> </b>
                                            <span th:text="${teamsForm.description}">Description</span>
                                        </div>
									</div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        
		<section>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#users" class="nav-link active" aria-controls="users" role="tab" data-toggle="tab" th:text="#{teams.view.table.users.header}">Users</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#clients" class="nav-link" aria-controls="clients" role="tab" data-toggle="tab" th:text="#{teams.view.table.clients.header}">Clients</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 20px">
                <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <form action="#" class="form-inline" method="get">
                        <div class="form-group">
                            <label for="firstname" class="mr-2 font-weight-bold"
                                th:text="#{teams.view.table.users.search.firstname}">First Name</label> <input
                                id="firstname" name="firstname" type="text" class="mr-5 form-control"
                                placeholder="Enter First Name" />
                            <label for="lastname" class="mr-2 font-weight-bold"
                                th:text="#{teams.view.table.users.search.lastname}">Last Name</label> <input
                                id="lastname" name="lastname" type="text" class="mr-5 form-control"
                                placeholder="Enter Last Name" />
                            <button id="user-search" class="btn btn-primary mr-1"
                                th:text="#{button.search}">Search</button>
                            <button id="user-reset" class="btn btn-secondary"
                                th:text="#{button.reset}">Reset</a>
                        </div>
                    </form>
                    <table id="users-table" class="table table-striped table-bordered"
                    style="width: 100%">
                        <thead>
                            <tr>
                                <th th:text="#{teams.view.table.users.column.userid}">User ID</th>
                                <th th:text="#{teams.view.table.users.column.username}">Username</th>
                                <th th:text="#{teams.view.table.users.column.firstname}">First Name</th>
                                <th th:text="#{teams.view.table.users.column.lastname}">Last Name</th>
                                <th th:text="#{teams.view.table.users.column.email}">Email</th>
                                <th th:text="#{teams.view.table.users.column.roles}">Roles</th>
                                <th th:text="#{teams.view.table.users.column.action}">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${teamsForm.users}">
                                <td th:text="${user.id}">User ID</td>
                                <td th:text="${user.username}">Username</td>
                                <td th:text="${user.firstName}">First Name</td>
                                <td th:text="${user.lastName}">Last Name</td>
                                <td th:text="${user.email}">Email</td>
                                <td th:text="${#strings.listJoin(user.roles.![role.name], ', ')}"></td>
                                <td><a th:href="@{/users/view(id=${user.id})}"> <i
                                        class="fa fa-eye"></i></a>
                                    &nbsp; <a th:href="@{/users/edit(id=${user.id})}"><i 
                                        class="fa fa-pen"></i>
                                </a> &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="clients" role="tabpanel" aria-labelledby="users-tab">
                    <form action="#" class="form-inline" method="get">
                        <div class="form-group">
                            <label for="clientname" class="mr-2 font-weight-bold"
                                th:text="#{teams.view.table.clients.search.name}">Client Name</label> <input
                                id="clientname" name="clientname" type="text" class="mr-5 form-control"
                                placeholder="Enter Client Name" />
                            <label for="clientDescription" class="mr-2 font-weight-bold"
                                th:text="#{teams.view.table.clients.search.description}">Description</label> <input
                                id="clientDescription" name="clientDescription" type="text" class="mr-5 form-control"
                                placeholder="Enter Description" />
                            <button id="client-search" class="btn btn-primary mr-1"
                                th:text="#{button.search}">Search</button>
                            <button id="client-reset" class="btn btn-secondary"
                                th:text="#{button.reset}">Reset</a>
                        </div>
                    </form>
                    <table id="clients-table" class="table table-striped table-bordered"
                    style="width: 100%">
                        <thead>
                            <tr>
                                <th th:text="#{teams.view.table.clients.column.name}">Client Name</th>
                                <th th:text="#{teams.view.table.clients.column.description}">Description</th>
                                <th th:text="#{teams.view.table.clients.column.action}">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="client : ${teamsForm.clients}">
                                <td th:text="${client.name} + (${client.isDefault} ? ' (Default)' : '')">Client</td>
                                <td th:text="${client.description}">Description</td>
                                <td>
                                    <a th:href="@{/clients/view(id=${client.id})}"> <i
                                        class="fa fa-eye"></i></a> &nbsp; 
                                    <a th:href="@{/clients/edit(id=${client.id})}"><i 
                                        class="fa fa-pen"></i></a> &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<script th:src="@{/js/teams-view.js}"></script>
        </section>
        
	</body>
</html>