<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{users.view.title}">ATS User View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{users.view.header(${usersForm.username})}">User "username"&nbsp;</h6>
							<form action="#" th:action="@{/users/edit}" method="get">
								<input hidden name="id" type="text" th:value="${usersForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-2">
											<b><span th:text="#{users.view.field.firstname}">
													First Name:</span> </b>
											<span th:text="${usersForm.firstName}">First Name</span>
										</div>
										<div class="col-lg-2">
											<b><span th:text="#{users.view.field.lastname}">Last Name:</span> </b>
											<span th:text="${usersForm.lastName}">Last Name</span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2">
											<b><span th:text="#{users.view.field.username}">
													Username:</span> </b>
											<span th:text="${usersForm.username}">Username</span>
										</div>
										<div class="col-lg-3">
											<b><span th:text="#{users.view.field.email}">
													Email:</span> </b>
											<span th:text="${usersForm.email}">Email</span>
										</div>
										<div class="col-lg-2">
											<b><span th:text="#{users.view.field.enabled}">
													Enabled:</span> </b>
											<span th:text="${usersForm.enabled ? 'Yes' : 'No'}">Yes/No</span>
										</div>
										<div class="col-lg-3">
											<b><span th:text="#{users.view.field.team}">Date
													Team:</span> </b>
											<span th:text="${usersForm.team.name}">Team Name</span>
										</div>
									</div>

								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h5 class="mt-2" th:text="#{users.view.roles.header}">Roles</h5>
			<table id="roles-view" class="table table-striped table-bordered"
				style="width: 100%">
				<thead>
					<tr>
						<th th:text="#{users.view.roles.column.name}">Name</th>
						<th th:text="#{users.view.roles.column.description}">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="userRole : ${usersForm.roles}">
						<td th:text="${userRole.role.name}">
							Name</td>
						<td th:text="${userRole.role.description}">
							Description
						</td>
					</tr>
				</tbody>
			</table>
			<script th:src="@{/js/users-view.js}"></script>
		</section>
	</body>
</html>