<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{users.edit.title}">ATS Users Edit</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{users.edit.header}">Job
		Order Entry</h1>
	<form th:action="@{/users/save}"
		th:object="${usersForm}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<div th:if="${errorMessage != null}">
					<div
						th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
				</div>
			</div>
		</div>
		<input id="id" hidden name="id" type="text" th:value="${usersForm.id}" />

		<!--Row 1-->
		<div class="form-row">
			<!--Left Column-->
			<div class="form-group col-lg-6 col-xl-6">

				<!--First Name, Last Name-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--First name-->
						<label for="firstname"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.firstname}">First Name</label>
						<div class="col-sm-12">
							<input id="firstname" type="text" th:field="*{firstName}"
								class="form-control form-control-sm" placeholder="First Name"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
								class="text-danger">JO Number Error</div>
						</div>
					</div>

					<div class="form-group col-sm-6"> <!--Last name-->
						<label for="lastname"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.lastname}">Last Name</label>
						<div class="col-sm-12">
							<input id="lastname" type="text" th:field="*{lastName}"
								class="form-control form-control-sm" placeholder="Last Name"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="text-danger">JO Number Error</div>
						</div>
					</div>
				</div>

				<!--Email-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Email-->
						<label for="email"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.email}">Email</label>
						<div class="col-sm-12">
							<input id="email" type="text" th:field="*{email}"
								class="form-control form-control-sm" placeholder="Email"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="text-danger">Email Error</div>
						</div>
					</div>
				</div>

				<!--Username-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Username-->
						<label for="username"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.username}">Username</label>
						<div class="col-sm-12">
							<input id="username" type="text" th:field="*{username}"
								class="form-control form-control-sm" placeholder="Username"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
								class="text-danger">Username Error</div>
						</div>
					</div>
				</div>

				<!--Password-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="password" class="col-sm-12 col-form-label font-weight-bold"
							th:text="*{id == null ? #messages.msg('users.edit.field.password') : #messages.msg('users.edit.field.password.existinguser')}">
							Password
						</label>
						<div class="col-sm-12">
							<input id="password" type="password" th:field="*{password}"
								class="form-control form-control-sm" placeholder="Password"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
							class="text-danger">Password error</div>
						</div>
					</div>

					<!--Confirm Password-->
					<div class="form-group col-sm-6">
						<label for="confirmPassword" class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.confirmPassword}">Confirm Password</label>
						<div class="col-sm-12">
							<input id="confirmPassword" type="password" th:field="*{confirmPassword}"
								class="form-control form-control-sm" placeholder="Confirm Password">
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
							class="text-danger">Password error</div>
						</div>
					</div>
				</div>

				<!--Teams & Is Enabled-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Teams-->
						<label for="username"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.team}">Team</label>
						<div class="col-sm-12">
							<select id="team.id" name="team.id"
							class="form-control form-control-sm">
								<option th:each="teamItem : ${teams}" th:value="${teamItem.id}"
								th:text="${teamItem.name}" th:selected="*{team} != null ? *{team.id} == ${teamItem.id}">Team Item</option>
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('team')}" th:errors="*{team}"
								class="text-danger">Team Error</div>
						</div>
					</div>

					<div class="form-group col-sm-6"> <!--Is Enabled-->
						<label for="enabled"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.enabled}">Enabled</label>
						<div class="col-sm-12">
							<div class="form-check form-check-inline">
                                <input type="checkbox" id="enabled" name="enabled" class="form-check-input" th:checked="*{enabled}" value="true"/>
                                <label for="enabled" class="form-check-label font-weight-bold" th:text="#{users.edit.field.enabled}">Enabled</label>
                            </div>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"
								class="text-danger">Enabled Error</div>
						</div>
					</div>
				</div>

				<!--Roles-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--Avail Roles-->
						<label for="available"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.availableRole}">Available Roles</label>
						<div class="col-sm-12">
							<select id="available-select" name="available-select" multiple
							class="form-control form-control-sm">
								<option th:each="roleItem : ${availableRoles}" th:value="${roleItem.id}"
								th:text="${roleItem.name}">Role Item</option>
							</select>
						</div>
						<div class="col-sm-12 mt-2">
							<div class="row">
								<div class="col-md-6">
									<button id="available-move-one" class="btn btn-primary form-control button-move">
										<span class="fa fa-angle-right"></span>
									</button>
								</div>
								<div class="col-md-6">
									<button id="available-move-all" class="btn btn-primary form-control button-move">
										<span class="fa fa-angle-double-right"></span>
									</button>
								</div>
							</div>
						</div>
						
					</div>

					<div class="form-group col-sm-6"> <!--Selected Roles-->
						<label for="roles"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{users.edit.field.assignedRole}">Assigned Roles</label>
						<div class="col-sm-12">
							<select id="roles-select" multiple="multiple" 
							class="form-control form-control-sm">
								<option th:each="userRole : *{roles}" th:value="${userRole.role.id}"
								th:text="${userRole.role.name}">
									Role Name</option>
							</select>

							<input type="hidden" id="roles" name="roles" value=""/>
						</div>
						<div class="col-sm-12 mt-2">
							<div class="row">
								<div class="col-md-6">
									<button id="selected-move-one" class="btn btn-primary form-control button-move">
										<span class="fa fa-angle-left"></span>
									</button>
								</div>
								<div class="col-md-6">
									<button id="selected-move-all" class="btn btn-primary form-control button-move">
										<span class="fa fa-angle-double-left"></span>
									</button>
								</div>
							</div>
						</div>

						<div class="col">
							<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
								class="text-danger">Roles Error</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="form-group">
			<div class="col">
				<button id="submit" type="submit" class="btn btn-primary"
					th:text="#{button.save}">Save</button>
				<a href="/users/new" class="btn btn-secondary"
					th:text="#{button.reset}">Reset</a>
			</div>
		</div>
	</form>
	<script th:src="@{/js/users-edit.js}"></script>
</section>

</html>