<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{users.find.title}">ATS Users Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{users.find.header}">Users Find</h1>
	<form action="#" class="form-inline"
		th:object="${usersForm}" method="get">
		<div class="form-group">
			<label for="firstname" class="mr-2 font-weight-bold"
				th:text="#{users.find.search.firstname}">First Name</label> <input
				id="firstname" name="firstname" type="text" class="mr-5 form-control"
				placeholder="Enter First Name" />
			<label for="lastname" class="mr-2 font-weight-bold"
				th:text="#{users.find.search.lastname}">First Name</label> <input
				id="lastname" name="lastname" type="text" class="mr-5 form-control"
				placeholder="Enter Last Name" />
			<button id="search" class="btn btn-primary mr-1"
				th:text="#{button.search}">Search</button>
			<a href="/users/find" class="btn btn-secondary"
				th:text="#{button.reset}">Reset</a>
		</div>
	</form>
	<table id="find-users" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
			<tr>
				<th th:text="#{users.find.column.userid}">User ID</th>
				<th th:text="#{users.find.column.username}">Username</th>
				<th th:text="#{users.find.column.firstname}">First Name</th>
				<th th:text="#{users.find.column.lastname}">Last Name</th>
				<th th:text="#{users.find.column.email}">Email</th>
				<th th:text="#{users.find.column.team}">Team</th>
				<th th:text="#{users.find.column.enabled}">Team</th>
                <th th:text="#{users.find.column.roles}">Roles</th>
				<th th:text="#{users.find.column.action}">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${usersForms}">
				<td th:text="${user.id}">User ID</td>
				<td th:text="${user.username}">Username</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Username</td>
				<td th:text="${user.email}">Email</td>
				<td th:text="${user.team.name}">Team</td>
				<td th:text="${user.enabled ? 'Yes' : 'No'}">Team</td>
                <td th:text="${#strings.listJoin(user.roles.![role.name], ', ')}"></td>
				<td><a th:href="@{/users/view(id=${user.id})}"> <i
						class="fa fa-eye"></i></a>
					&nbsp; <a th:href="@{/users/edit(id=${user.id})}"><i 
						class="fa fa-pen"></i></a>
					 &nbsp;
				</td>
			</tr>
		</tbody>
	</table>
	<script th:src="@{/js/users-find.js}"></script>
</section>

</html>